@import "tailwindcss";

@theme {
  --height-125: 31.25rem;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@utility animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

@layer base {
  /* スクロールバーのカスタマイズ */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #334155; /* border-slate-700 */
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #475569; /* border-slate-600 */
  }
}
